<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {} %>

<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>

    <% if (errors) { %>
        <ul class="notice">
        <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
        <%  }) %>
        </ul>
    <% } %>

    <fieldset>
        <form class="add-form" action="/inv/edit-vehicle" method="post">
            <label>Classification</label>
            <br>
            <div><%- menu %></div>
            <br>
            <label for="make">Make</label>
            <br>
            <input name="inv_make" type="text" id="make">
            <br>
            <label for="model">Model</label>
            <br>
            <input name="inv_model" type="text" id="model">
            <br>
            <label for="invDescription">Description</label>
            <br>
            <textarea
              name="inv_description"
              id="invDescription"
            ></textarea>
            <br>
            <label for="image">Image Path</label>
            <br>
            <input name="inv_image" id="image" type="text" value="/image/vehicles/no-image.png">
            <br>
            <label for="thumbnail">Thumbnail Path</label>
            <br>
            <input name="inv_thumbnail" id="thumbnail" type="text" value="/images/vehicles/no-image.png">
            <br>
            <label for="price">Price</label>
            <br>
            <input name="inv_price" type="text" id="price">
            <br>
            <label for="year">Year</label>
            <br>
            <input name="inv_year" type="text" id="year">
            <br>
            <label for="miles">Miles</label>
            <br>
            <input name="inv_miles" type="text" id="miles">
            <br>
            <label for="color">Color</label>
            <br>
            <input name="inv_colors" type="text" id="color">
            <br>
            <button type="submit">Edit Vehicle</button>
            <input type="hidden" name="inv_id" value="
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>>
        </form>
    </fieldset>
