<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect("/")} %>

<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
    </ul>
<% } %>

<div>
    <form id="registrationForm" action="/client/register" method="post">
        <label for="client_firstname">First Name:</label>
        <br>
        <input name="client_firstname" required type="text" id="client_firstname" placeholder="Jane" value="<%= locals.client_firstname %>">
        <br>
        <label for="client_lastname">Last Name:</label>
        <br>
        <input name="client_lastname" required type="text" id="client_lastname" placeholder="Wilkinson" value="<%= locals.client_lastname %>">
        <br>
        <label for="client_email">Email:</label>
        <br>
        <input required name="client_email" type="email" id="client_email" placeholder="abc@defg.com" value="<%= locals.client_email %>">
        <br>
        <label for="address">Address:</label>
        <br>
        <input required type="text" id="address" 
        placeholder="1234 Street Dr. City, State ZIP code">
        <br>
        <label for="password" min="12" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">Password:</label>
        <br>
        <input required type="password" hidden id="password">
        <button type="submit" id="registerbtn">Register</button>
    </form>
    <div id="message">
        <h3>Password must contain the following:</h3>
        <p id="letter" class="invalid">A <b>number</b></p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>special character</b></p>
        <p id="length" class="invalid">Minimum <b>12 characters</b></p>
      </div>
</div>